<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information Page</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 

    <h3>HomeRoom Assignments</h3>
    <ul>
           <% students.forEach(function(stut){ %>
            <ol>
                <h4><%= stut.schoolYear %> - <%= stut.teacher %> </h4>
                 <%= stut.student %> 
                 <p><%= stut.idNumber%> </p>
            </ol>

          <% }); %> 
    </ul>
</body>
</html>